.tournament {
    max-width: 304px;
    width: 100%;    
    border-radius: 4px;
}
.wrapp {
    display: flex;
}

.lable {
    max-width: 78px;    
    width: 100%;
    background: #00BB40;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contentWrapp {
    padding: 8px;
    width: 100%;
    background: #373352;

}
.lableText {
    transform: scale(-1);
writing-mode: vertical-rl;

}

